@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}

* {
	font-family: 'Poppins', sans-serif;
}

.particle-square-purple {
	width: 25px;
	height: 25px;
	background: #8a63d2;
	transform: rotate(10deg);
	animation: float 7s ease-in-out infinite paused;
}

.build-in-animate .particle-square-purple {
	animation-play-state: running;
}

.particle-circle-blue {
	width: 20px;
	height: 20px;
	background: #2188ff;
	animation: float 8s ease-in-out 1s infinite paused;
}

.build-in-animate .particle-circle-blue {
	animation-play-state: running;
}

.particle-circle-green {
	width: 35px;
	height: 35px;
	background: #34d058;
	animation: float 6s ease-in-out infinite paused;
}

.build-in-animate .particle-circle-green {
	animation-play-state: running;
}

.particle-circle-orange {
	width: 20px;
	height: 20px;
	background: #fb8532;
	animation: float 9s ease-in-out 1s infinite paused;
}

.build-in-animate .particle-circle-orange {
	animation-play-state: running;
}

.particle-square-yellow {
	width: 35px;
	height: 35px;
	background: #ffdf5d;
	transform: rotate(15deg);
	animation: float 7s ease-in-out infinite paused;
}

.build-in-animate .particle-square-yellow {
	animation-play-state: running;
}

.particle-circle-orange-2 {
	width: 30px;
	height: 30px;
	background: #fb8532;
	animation: float 8s ease-in-out 1s infinite paused;
}

.build-in-animate .particle-circle-orange-2 {
	animation-play-state: running;
}

.particle-circle-blue-2 {
	width: 20px;
	height: 20px;
	background: #2188ff;
	animation: float 6s ease-in-out 1s infinite paused;
}

.build-in-animate .particle-circle-blue-2 {
	animation-play-state: running;
}

.text-blue-dark {
	color: #032f62 !important;
}

.bg-icon-orange {
	background: #fb8532 !important;
}

.section-actions-hero {
	position: relative;
	height: calc(100vh - 72px);
	min-height: 680px;
}

.actions-hero {
	bottom: -10px;
	width: 54%;
	max-width: 640px;
	height: 50%;
	/* margin-left: -20%; */
	transition: opacity 0.2s, transform 0.2s;
	transform: rotate(15deg) skew(-32deg, 0deg) translate(-25px, 40px);
}

@media (min-width: 1012px) {
	.actions-hero {
		top: auto;
		/* right: 0; */
		bottom: auto;
		left: auto;
		height: auto;
		margin-left: auto;
	}
}

.actions-hero-bg {
	right: -16px;
	bottom: -5%;
	left: -16px;
	height: 50%;
	z-index: -10000;
	animation: fade-in 2s both;
}

@media (min-width: 1012px) {
	.actions-hero-bg {
		right: auto;
		bottom: auto;
		left: 25%;
		width: 100%;
		max-width: 1336px;
		height: 734px;
		background-position: center;
	}
}

.actions-hero-text-break {
	display: none;
}

@media (min-width: 832px), (min-width: 644px) and (max-width: 768px) {
	.actions-hero-text-break {
		display: block;
	}
}

.animate-actions-hero .actions-hero-starter {
	animation: actions-card-starter 0.4s cubic-bezier(0.6, -0.28, 0.515, 1.285) 1s both;
}

.animate-actions-hero .actions-hero-card-1 {
	animation: actions-card-1 0.5s cubic-bezier(0.6, -0.28, 0.515, 1.285) 1.4s both;
}

.animate-actions-hero .actions-hero-card-2 {
	animation: actions-card-2 0.5s cubic-bezier(0.6, -0.28, 0.515, 1.285) 1.9s both;
}

.animate-actions-hero .actions-hero-card-3 {
	animation: actions-card-3 0.5s cubic-bezier(0.6, -0.28, 0.515, 1.285) 1.9s both;
}

.animate-actions-hero .actions-hero-card-4 {
	animation: actions-card-4 0.5s cubic-bezier(0.6, -0.28, 0.515, 1.285) 2.1s both;
}

.animate-actions-hero .actions-hero-strings path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: actions-hero-stringing 1.5s ease-in-out both 1.7s;
}

.animate-actions-hero .actions-hero-subcard {
	opacity: 0;
	transform: scale(0.9) translate(75px, 150px);
	animation: actions-hero-subcard 0.5s cubic-bezier(0.6, -0.28, 0.515, 1.285) 2.3s both;
}

.animate-actions-hero .actions-hero-flourish {
	opacity: 0;
	transform: scale(0.9) translate(75px, 150px);
	animation: actions-hero-subcard 0.5s cubic-bezier(0.6, -0.28, 0.515, 1.285) 2.5s both;
}

.actions-event-token {
	display: inline-block;
	padding: 8px 16px;
	color: #959da5;
	border-color: rgba(106, 115, 125, 0.15) !important;
	border-radius: 30px;
}

.actions-event-token span {
	color: #d1d5da;
}

.section-actions-events-left > div,
.section-actions-events-right > div {
	opacity: 0;
}

.section-actions-events-left > div:nth-child(2),
.section-actions-events-right > div:nth-child(2) {
	animation-delay: 0.1s;
}

.section-actions-events-left > div:nth-child(3),
.section-actions-events-right > div:nth-child(3) {
	animation-delay: 0.2s;
}

.section-actions-events-left > div:nth-child(4),
.section-actions-events-right > div:nth-child(4) {
	animation-delay: 0.3s;
}

.section-actions-events-left > div:nth-child(5),
.section-actions-events-right > div:nth-child(5) {
	animation-delay: 0.4s;
}

.section-actions-events-left > div:nth-child(6),
.section-actions-events-right > div:nth-child(6) {
	animation-delay: 0.5s;
}

.section-actions-events-left > div:nth-child(7),
.section-actions-events-right > div:nth-child(7) {
	animation-delay: 0.6s;
}

.section-actions-events-left > div:nth-child(8),
.section-actions-events-right > div:nth-child(8) {
	animation-delay: 0.7s;
}

.section-actions-events-left.build-in-animate > div,
.section-actions-events-right.build-in-animate > div {
	animation-name: actions-event-token-in;
	animation-duration: 0.5s;
	animation-fill-mode: both;
}

.section-actions-workflow-logs::before {
	position: absolute;
	top: -32px;
	bottom: -32px;
	left: 50%;
	z-index: -1;
	width: 66.66667%;
	height: 100%;
	margin-left: -33.333335%;
	content: '';
	background: url('/images/modules/site/patterns/dots-small.svg');
}

.actions-workflow-logs {
	max-height: 600px;
	overflow: hidden;
	transition: opacity 1s, transform 1s;
	transform: translateX(24px);
}

.build-in-animate .actions-workflow-logs {
	transform: translateX(0);
}

.actions-workflow-logs-readout {
	transform: translateY(0);
}

.build-in-animate .actions-workflow-logs-readout {
	animation: actions-workflow-logs-scroll 4s both steps(24);
}

.actions-pr-checks {
	transition: opacity 1s, transform 1s;
	transform: translateX(-24px);
}

.build-in-animate .actions-pr-checks {
	transform: translateX(0);
}

.actions-template-cards {
	top: 456px;
}

.build-in-animate .actions-template-cards-top {
	animation: actions-starter-workflows 40s linear both infinite reverse;
}

.build-in-animate .actions-template-cards-top:hover {
	animation-play-state: paused;
}

.build-in-animate .actions-template-cards-bottom {
	animation: actions-starter-workflows 40s linear both infinite;
}

.build-in-animate .actions-template-cards-bottom:hover {
	animation-play-state: paused;
}

.actions-template-column {
	min-width: 369px;
}

.actions-template-card {
	box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15), 0 0 1px rgba(106, 115, 125, 0.35);
	transition: opacity 0.2s, transform 0.2s;
	transform: scale(1);
}

.actions-template-card:hover {
	transform: scale(1.05);
}

.actions-template-card:hover .actions-template-repo {
	color: var(--color-accent-fg);
}

.actions-template-card p {
	max-height: 36px;
	overflow: hidden;
}

.actions-template-avatar {
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.actions-template-repo {
	color: #959da5;
	transition: color 0.4s;
}

.actions-pricing-public {
	min-height: 392px;
}

.actions-pricing-private::before {
	position: absolute;
	top: 50%;
	right: -20%;
	z-index: 0;
	display: none !important;
	width: 80%;
	height: 100%;
	margin-top: -13%;
	content: '';
	background: url('/images/modules/site/patterns/dots-large.svg');
	background-size: 42px;
}

@media (min-width: 768px) {
	.actions-pricing-private::before {
		display: block !important;
	}
}

.animate-beat {
	transform: scale(1);
	animation: heart-beat 0.25s infinite alternate paused;
}

.build-in-animate .animate-beat {
	animation-play-state: running;
}

@keyframes actions-hero-line {
	0% {
		stroke-dasharray: 553;
		stroke-dashoffset: 553;
	}

	10% {
		stroke-dashoffset: 0;
	}

	20% {
		stroke-dashoffset: -553;
	}
}

@keyframes actions-card-starter {
	0% {
		opacity: 0;
		transform: translate(0, -200px);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes actions-card-1 {
	0% {
		opacity: 0;
		transform: translate(-500px, -400px);
	}

	20% {
		opacity: 1;
	}

	40% {
		transform: translate(-500px, 0);
	}

	60% {
		transform: translate(-500px, 0);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes actions-card-2 {
	0% {
		opacity: 0;
		transform: translate(-220px, -410px);
	}

	20% {
		opacity: 1;
	}

	40% {
		transform: translate(-220px, 0);
	}

	60% {
		transform: translate(-220px, 0);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes actions-card-3 {
	0% {
		opacity: 0;
		transform: translate(0, 400px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes actions-card-4 {
	0% {
		opacity: 0;
		transform: translate(0, 200px);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes actions-hero-stringing {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes actions-hero-subcard {
	to {
		opacity: 1;
		transform: scale(1) translate(0);
	}
}

@keyframes actions-scale-in-top {
	0% {
		opacity: 0;
		transform: scale(0.98) translateY(-5px);
	}

	100% {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}

@keyframes actions-event-token-in {
	0% {
		opacity: 0;
		transform: translateX(0) scale(0.95);
	}

	100% {
		opacity: 1;
		transform: translateX(0) scale(1);
	}
}

@keyframes actions-string-grow {
	to {
		stroke-dashoffset: 0;
		opacity: 1;
	}
}

@keyframes actions-workflow-card-pop {
	0% {
		opacity: 0;
		transform: translateY(4px) scale(0.95);
	}

	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes actions-workflow-logs-scroll {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-84%);
	}
}

@keyframes actions-starter-workflows {
	0% {
		transform: translateX(-60%);
	}

	100% {
		transform: translateX(-496%);
	}
}

@keyframes heart-beat {
	to {
		transform: scale(1.2);
	}
}

.particle-square-purple-2 {
	width: 25px;
	height: 25px;
	background: #8a63d2;
	transform: rotate(-10deg);
	animation: float 8s ease-in-out infinite paused;
}

.build-in-animate .particle-square-purple-2 {
	animation-play-state: running;
}

.particle-circle-green-2 {
	width: 35px;
	height: 35px;
	background: #34d058;
	animation: float 7s ease-in-out 1s infinite paused;
}

.build-in-animate .particle-circle-green-2 {
	animation-play-state: running;
}

.icon {
	width: 32px;
	height: 32px;
}
